

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/imagehover.min.css">
    
    <title>Document</title>
</head>
<body>
    <div class='container'>
        <!-- row -->
        <div class='row'>

            <div class='col-md-12 justify-content-center'>
                <div class="jumbotron jumbotron-fluid bg-light">
                    <div class="container text-center">
                      <h1 class="display-4 ">Cernitin</h1>
                      <hr class="my-4">
                      <p class="lead ">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- row -->
        <div class='row justify-content-around'>
            <!-- col-3 -->
            <div class='col-md-3'>
                <figure class="imghvr-push-up bg-white">
                    <img src="../static/cerminal.jpg">
                    <figcaption style='background-color: #f88808'> 
                            <h3 class="ih-fade-down ih-delay-sm ">Oscar Wilde</h3>
                            <p class="ih-zoom-in ih-delay-md">
                            <i>"I have the simplest tastes, I am always satisfied with the best."</i>
                            </p>
                        
                    </figcaption>
                </figure>
            </div>
            <!-- col-3 -->
            <div class='col-md-3'>
                <figure class="imghvr-push-up bg-white">
                    <img src="../static/royalvita.png">
                    <figcaption class="bg-danger"> 
                            <h3 class="ih-fade-down ih-delay-sm ">Oscar Wilde</h3>
                            <p class="ih-zoom-in ih-delay-md">
                            <i>"I have the simplest tastes, I am always satisfied with the best."</i>
                            </p>
                        
                    </figcaption>
                </figure>
            </div>
            <!-- col-3 -->
            <div class='col-md-3'>
                <figure class="imghvr-push-up bg-white">
                    <img src="../static/belleza.jpg">
                    <figcaption style='background-color: #eb8a64'> 
                            <h3 class="ih-fade-down ih-delay-sm ">Oscar Wilde</h3>
                            <p class="ih-zoom-in ih-delay-md">
                            <i>"I have the simplest tastes, I am always satisfied with the best."</i>
                            </p>
                        
                    </figcaption>
                </figure>
            </div>
            <!-- col-3 -->
            <div class='col-md-3'>
                <figure class="imghvr-push-up bg-white">
                    <img src="../static/cernilton.jpg">
                    <figcaption style='background-color: #5f2e05'> 
                            <h3 class="ih-fade-down ih-delay-sm ">Oscar Wilde</h3>
                            <p class="ih-zoom-in ih-delay-md">
                            <i>"I have the simplest tastes, I am always satisfied with the best."</i>
                            </p>
                        
                    </figcaption>
                </figure>
            </div>


        </div>
        <hr class="my-4 bg-warning">
        <!-- row -->
        <div class='row justify-content-around'>
                <!-- col-3 -->
                <div class='col-md-3'>
                    <figure class="imghvr-push-up bg-white">
                        <img src="../static/collamix.jpg">
                        <figcaption class="bg-warning"> 
                                <h3 class="ih-fade-down ih-delay-sm ">Oscar Wilde</h3>
                                <p class="ih-zoom-in ih-delay-md">
                                <i>"I have the simplest tastes, I am always satisfied with the best."</i>
                                </p>
                            
                        </figcaption>
                    </figure>
                </div>
                <!-- col-3 -->
                <div class='col-md-3'>
                    <figure class="imghvr-push-up bg-white">
                        <img src="../static/livero2.png">
                        <figcaption style='background-color: #eb8a64'> 
                                <h3 class="ih-fade-down ih-delay-sm ">Oscar Wilde</h3>
                                <p class="ih-zoom-in ih-delay-md">
                                <i>"I have the simplest tastes, I am always satisfied with the best."</i>
                                </p>
                            
                        </figcaption>
                    </figure>
                </div>
                <!-- col-3 -->
                <div class='col-md-3'>
                    <figure class="imghvr-push-up bg-white">
                        <img src="../static/politab.jpg">
                        <figcaption class="bg-success"> 
                                <h3 class="ih-fade-down ih-delay-sm ">Oscar Wilde</h3>
                                <p class="ih-zoom-in ih-delay-md">
                                <i>"I have the simplest tastes, I am always satisfied with the best."</i>
                                </p>
                            
                        </figcaption>
                    </figure>
                </div>
                <!-- col-3 -->
                <div class='col-md-3'>
                    <figure class="imghvr-push-up bg-white">
                        <img src="../static/pollenplus.jpg">
                        <figcaption class="bg-warning"> 
                                <h3 class="ih-fade-down ih-delay-sm ">Oscar Wilde</h3>
                                <p class="ih-zoom-in ih-delay-md">
                                <i>"I have the simplest tastes, I am always satisfied with the best."</i>
                                </p>
                            
                        </figcaption>
                    </figure>
                </div>
    
    
            </div>
            
            <hr class="my-4 bg-danger">
             <!-- row -->
             <div class='row justify-content-around'>
                    <!-- col-3 -->
                <div class='col-md-3'>
                    <figure class="imghvr-push-up bg-white">
                        <img src="../static/slac.jpg">
                        <figcaption style='background-color: #7c548f'> 
                                <h3 class="ih-fade-down ih-delay-sm ">Oscar Wilde</h3>
                                <p class="ih-zoom-in ih-delay-md">
                                <i>"I have the simplest tastes, I am always satisfied with the best."</i>
                                </p>
                            
                        </figcaption>
                    </figure>
                </div>
                
                <div class='col-md-3'></div>
                <div class='col-md-3'></div>
                <div class='col-md-3'></div>
                
            </div>

        <!-- Footer -->
    
        <footer class='row justify-content-center mt-5 border border-black bg-light p-3'>
                <div class='col-md-8'>

                </div>
                
                <div class='col-md-4'>
                    <div >
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>